 body {
      margin: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      min-height: 100vh;
      background: #111;
    }

    /* container */
    .container {
      display: grid;
      grid-template-columns: repeat(40, 20px);
      gap: 2px;
    }

    /* squares */
    .square {
      width: 20px;
      height: 20px;
      background: #1d1d1d;
      transition: background-color 1s ease;
    }